* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: white;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  height: 100%;
  padding: 5px;
}

header > h1 {
  font-weight: 400px;  
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5D8;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}


.get-recipe-container {
  display: flex;
  background-color: azure;
  justify-content: space-between;
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  align-items: center;

}

.get-recipe-container > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #ea980b;
  color: #171714;
  width: 150px;
  height: 50px;
  font-size: 0.875rem;
  font-weight: 500px;
}

.get-recipe-container > button:active {
  background-color: #c77807; /* darker shade */
  color: #100f0f; /* text turns white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* shadow on click */
  transform: scale(0.97); /* slight shrink for click effect */
}